<div class="container-fluid">
  <div
    class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center  alpha-8 image-background cover"
  >
    <div class="content pt-5">
      <img src="assets/cita.png" class="logo img-responsive" alt="" />
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col welcome font-lg bold text-secondary text-uppercase">
    <span>Welcome to <span class="name">CITA</span></span>
  </div>
</div>
