.fullscreen-md {
  min-height: 0vh;
  margin: auto;
  max-width: 300px;
}

.welcome {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #000;
}

.name {
  background: #02c5df;
  color: white;
}
